
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

<style>
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #007FFF;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: #0000FF;
        }
</style>

<h3 style="text-align: center">Thêm Loại sản phẩm mới</h3>

<div style="width:50%; margin:auto">
    @using (Html.BeginForm("Create", "LoaiSanPham", FormMethod.Post))
    {
        <label for="fname">Mã Loại</label>
            <input type="text" id="fname" name="MaLoaiSanPham" required placeholder="Nhập mã loại sản phẩm..." style="background-color:#4B4B4B; color:#FFFFFF">

            <label for="lname">Tên Loại</label>
            <input type="text" id="lname" name="TenLoaiSanPham" required placeholder="Nhập tên loại sản phẩm..." style="background-color:#4B4B4B; color:#FFFFFF">

            <label for="country">Tình trạng</label>
            <select id="country" name="TinhTrang" style="background-color:#4B4B4B; color:#FFFFFF">
                <option value="0">Mở</option>
                <option value="1">Khóa</option>
            </select>

            <input type="submit" value="Thêm">
    }
</div>



