@model ConnectDBShop.NhaSanXuat
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

<style>
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #007FFF;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: #0000FF;
        }
</style>

<h3 style="text-align: center">Sửa Hãng sản phẩm</h3>

<div style="width:50%; margin:auto">
    @using (Html.BeginForm("Edit", "NhaSanXuat", FormMethod.Post, new { @style = "with: 50%; margin: auto;"}))
    {
        <label for="fname">Mã Hãng</label>
            <input type="text" id="fname" name="MaNhaSanXuat" required placeholder="Nhập mã hãng sản phẩm..." style="background-color:#4B4B4B; color:#FFFFFF" value="@Model.MaNhaSanXuat" readonly>

            <label for="lname">Tên Hãng</label>
            <input type="text" id="lname" name="TenNhaSanXuat" required placeholder="Nhập tên hãng sản phẩm..." style="background-color:#4B4B4B; color:#FFFFFF" value="@Model.TenNhaSanXuat">

            <label for="country">Tình trạng</label>
            <select id="country" name="TinhTrang" style="background-color:#4B4B4B; color:#FFFFFF">
                @if(Model.TinhTrang == "1")
                {
                    <option value="0">Mở</option>
                    <option value="1" selected>Khóa</option>
                }
                else
                {
                    <option value="0" selected>Mở</option>
                    <option value="1" >Khóa</option>
                }
            </select>

            <input type="submit" value="Sửa">
    }
</div>
